{% extends 'generic/object_detail.html' %}
{% load helpers %}

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>IGP Routing Instance Details</strong>
  </div>
  <table class="table table-hover panel-body">
    <tr>
      <td>Device</td>
      <td>{{ object.device|hyperlink }}</td>
    </tr>
    <tr>
      <td>Protocol</td>
      <td>{{ object.protocol }}</td>
    </tr>
    <tr>
      <td>Router ID</td>
      <td>{{ object.router_id|hyperlink|placeholder }}</td>
    </tr>
    <tr>
      <td>VRF</td>
      <td>{{ object.vrf|hyperlink|placeholder }}</td>
    </tr>
    <tr>
      <td>IS-IS AREA</td>
      <td>{{ object.isis_area|placeholder }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ object.status|placeholder }}</td>
    </tr>
  </table>
</div>