{#
  Cisco IOS OSPF Configuration Template

  Uses hybrid configuration inheritance:
  - Database fields for core parameters (cost, area)
  - Config context for optional/vendor settings (BFD, auth, fast-reroute)

  Variables expected:
  - ospf_config: OSPFConfiguration object
  - interfaces: List of OSPFInterfaceConfiguration objects
#}
!
! OSPF Configuration for {{ ospf_config.instance.device.name }}
!
router ospf {{ ospf_config.process_id }}
 router-id {{ ospf_config.instance.router_id.address.split('/')[0] }}
{%- if ospf_config.instance.device.config_context.igp.ospf.passive_interfaces is defined %}
{%- for passive_if in ospf_config.instance.device.config_context.igp.ospf.passive_interfaces %}
 passive-interface {{ passive_if }}
{%- endfor %}
{%- endif %}
 log-adjacency-changes detail
{%- if ospf_config.instance.device.config_context.igp.ospf.cisco.auto_cost is defined %}
 auto-cost reference-bandwidth {{ ospf_config.instance.device.config_context.igp.ospf.cisco.auto_cost }}
{%- endif %}
!
{% for interface_config in interfaces %}
{%- set effective = interface_config.get_effective_config() %}
{%- set cisco_config = interface_config.get_vendor_config('cisco') %}
!
interface {{ interface_config.interface.name }}
 description OSPF {{ ospf_config.process_id }} - Area {{ effective.area }}
 ip ospf {{ ospf_config.process_id }} area {{ effective.area }}
 ip ospf cost {{ effective.cost }}
{%- if effective.hello_interval is defined %}
 ip ospf hello-interval {{ effective.hello_interval }}
{%- endif %}
{%- if effective.dead_interval is defined %}
 ip ospf dead-interval {{ effective.dead_interval }}
{%- endif %}
{%- if effective.priority is defined %}
 ip ospf priority {{ effective.priority }}
{%- endif %}
{%- if effective.network_type is defined %}
 ip ospf network {{ effective.network_type }}
{%- endif %}
{%- if cisco_config.bfd is defined and cisco_config.bfd.enabled %}
 ip ospf bfd
{%- endif %}
{%- if cisco_config.fast_reroute is defined %}
 ip ospf fast-reroute {{ cisco_config.fast_reroute }}
{%- endif %}
{%- if cisco_config.authentication is defined %}
{%- if cisco_config.authentication.type == 'message-digest' %}
 ip ospf authentication message-digest
 ip ospf message-digest-key {{ cisco_config.authentication.key_id }} md5 {{ cisco_config.authentication.key }}
{%- elif cisco_config.authentication.type == 'text' %}
 ip ospf authentication
 ip ospf authentication-key {{ cisco_config.authentication.key }}
{%- endif %}
{%- endif %}
!
{% endfor %}
!
! End of OSPF configuration
!
